[submodule "Script/chxm1023"]
	path = Script/chxm1023
	url = https://github.com/chxm1023/Rewrite.git
[submodule "Script/wf021325"]
	path = Script/wf021325
	url = https://github.com/wf021325/qx.git
[submodule "Script/Sliverkiss"]
	path = Script/Sliverkiss
	url = https://github.com/Sliverkiss/QuantumultX.git
[submodule "Script/Crazy-Z7"]
	path = Script/Crazy-Z7
	url = https://github.com/Crazy-Z7/Task.git
[submodule "Script/FoKit"]
	path = Script/FoKit
	url = https://github.com/FoKit/Scripts.git
[submodule "Script/mieqq"]
	path = Script/mieqq
	url = https://github.com/mieqq/mieqq.git
[submodule "Script/app2smile"]
	path = Script/app2smile
	url = https://github.com/app2smile/rules.git
[submodule "Script/Maasea"]
	path = Script/Maasea
	url = https://github.com/Maasea/sgmodule.git
[submodule "Script/Neurogram-R"]
	path = Script/Neurogram-R
	url = https://github.com/Neurogram-R/JSBox.git
[submodule "Script/BiliUniverse"]
	path = Script/BiliUniverse
	url = https://github.com/BiliUniverse/Universe.git
[submodule "Script/lowking"]
	path = Script/lowking
	url = https://github.com/lowking/Scripts.git
[submodule "Script/githubdulong"]
	path = Script/githubdulong
	url = https://github.com/githubdulong/Script.git
[submodule "Script/ClydeTime"]
	path = Script/ClydeTime
	url = https://github.com/ClydeTime/Quantumult.git
[submodule "Script/Yuheng0101"]
	path = Script/Yuheng0101
	url = https://github.com/Yuheng0101/X.git
[submodule "Script/Yu9191"]
	path = Script/Yu9191
	url = https://github.com/Yu9191/Rewrite.git
[submodule "Script/Guding88"]
	path = Script/Guding88
	url = https://github.com/Guding88/Script.git
[submodule "Script/yqc007"]
	path = Script/yqc007
	url = https://github.com/yqc007/QuantumultX.git
[submodule "Script/Marol62926"]
	path = Script/Marol62926
	url = https://github.com/Marol62926/Quantumultx.git
[submodule "Script/Peng-YM"]
	path = Script/Peng-YM
	url = https://github.com/Peng-YM/Sub-Store.git
[submodule "Script/I-am-R-E"]
	path = Script/I-am-R-E
	url = https://github.com/I-am-R-E/Functional-Store-Hub.git
[submodule "Script/ZenmoFeiShi"]
	path = Script/ZenmoFeiShi
	url = https://github.com/ZenmoFeiShi/Qx.git
[submodule "Script/WeiGiegie"]
	path = Script/WeiGiegie
	url = https://github.com/WeiGiegie/666.git
[submodule "Script/afengye"]
	path = Script/afengye
	url = https://github.com/afengye/QX.git
[submodule "Script/Rnik666"]
	path = Script/Rnik666
	url = https://github.com/Rnik666/666.git
[submodule "Script/anyehttp"]
	path = Script/anyehttp
	url = https://github.com/anyehttp/quantumult-x.git
[submodule "Script/czy13724"]
	path = Script/czy13724
	url = https://github.com/czy13724/Quantumult-X.git
[submodule "Script/leey668"]
	path = Script/leey668
	url = https://github.com/leey668/pyer.git
